.Title {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.Title h1 {
  font-size: 48px;
  margin-bottom: -12px;
}

.Title h1.main {
  font-size: 64px;
}

.Title hr {
  width: calc(100% + 30px);
  position: relative;
  right: 15px;
  border: 1px outset #000;
  border-bottom: 0;
}
