.Title {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.Title h1 {
  font-size: 48px;
  margin-bottom: -12px;
}

.Title h1.main {
  font-size: 64px;
}

.Title hr {
  width: calc(100% + 30px);
  position: relative;
  right: 15px;
  border: 1px solid var(--gray2);
  border-bottom: 0;
  margin: 10px 0 5px 0;
}

@media (max-width: 575px) {
  .Title h1.main {
    font-size: 48px;
  }

  .Title h2 {
    font-size: 16px;
  }
}
