.Project {
  background: #fff;
  box-shadow: 0 0 10px var(--gray1);
  width: 300px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  position: relative;
  transition: 0.25s;
}

.Project:hover {
  transform: scale(1.02);
}

.Project .type-icon {
  position: absolute;
  right: 8px;
  top: 0;
}

.Project h1 {
  font-size: 36px;
}

.Project p {
  font-size: 18px;
}

.Project .image-link, .Project .project-button {
  display: inline-block;
  width: fit-content;
  height: 0;
}

.Project .image-link > img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--gray1);
  margin-top: 10px;
  margin-bottom: -7px;
  transition: 0.25s;
}

.Project .image-link > img:hover {
  box-shadow: 0 0 10px var(--gray2);
  transform: scale(1.02);
}

.Project iframe {
    width: 100%;
    border-radius: 10px;
    height: 140px;
    margin-bottom: -7px;
    box-shadow: 0 0 10px var(--gray1);
    transition: 0.25s;
}

.Project iframe:hover {
    box-shadow: 0 0 15px var(--gray3);
    transform: scale(1.02);
}

.Project .project-button > button {
  border-radius: 10px;
  background-color: var(--blue1);
  border: 3px solid var(--blue2);
  font-weight: bold;
  color: #fff;
  padding: 8px 14px;
  transition: 0.5s;
  margin: 15px 5px;
  font-size: 16px;
}

.Project .project-button > button:hover {
  background-color: var(--blue2);
}

.Project .icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.Project .Icon {
  background: var(--gray0);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 5px var(--gray3);
  transition: 0.25s;
}

.Project .Icon:hover {
  transform: scale(1.05);
}

.Project .Icon > a {
  padding: 0 5px;
}
