.Project {
  background: #fff;
  box-shadow: 0 0 10px #999;
  width: 300px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  position: relative;
  transition: 0.25s;
}

.Project:hover {
  box-shadow: 0 0 15px #333;
  transform: scale(1.02);
}

.Project .type-icon {
  position: absolute;
  right: 8px;
  top: 0;
}

.Project h1 {
  font-size: 36px;
}

.Project p {
  font-size: 18px;
}

.Project a {
  display: inline-block;
  width: fit-content;
  height: 0;
}

.Project a img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  margin-top: 10px;
  margin-bottom: -7px;
  transition: 0.25s;
}

.Project a img:hover {
    box-shadow: 0 0 15px #333;
    transform: scale(1.02);
}

.Project iframe {
    width: 100%;
    border-radius: 10px;
    height: 140px;
    margin-bottom: -7px;
    box-shadow: 0 0 10px #999;
    transition: 0.25s;
}

.Project iframe:hover {
    box-shadow: 0 0 15px #333;
    transform: scale(1.02);
}

.Project .icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.Project .Icon {
  background: #efefef;
  padding: 0 5px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 5px #333;
  transition: 0.25s;
  cursor: default;
}

.Project .Icon:hover {
  transform: scale(1.05);
}

.Project a button {
  margin: 15px 5px;
  font-size: 16px;
}

/* @media (max-width: 1370px) {
  .Project {
    width: 500px;
  }
  .Project iframe {
    height: 250px;
  }
}

@media (max-width: 1140px) {
  .Project {
    width: 400px;
  }
  .Project iframe {
    height: 200px;
  }
}

@media (max-width: 940px) {
  .Project {
    width: 600px;
  }
  .Project iframe {
    height: 250px;
  }
} */
