.Contact .contacts {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  flex-wrap: wrap;
}

.Contact .contact-div {
  width: 70px;
  margin: 0 5px;
  text-align: center;
  overflow: auto;
  transition: 0.25s;
}

.Contact .contact-div:hover {
  transform: scale(1.1);
}

.Contact a {
  text-decoration: none;
  color: var(--gray2);
  transition: 0.25s;
}

.Contact a:hover {
  color: var(--blue0);
}

.Contact i {
  margin: 0;
  font-size: 48px;
  width: 100%;
}

.Contact p {
  font-size: 12px;
}
