.Header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 5px var(--gray3);
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 10px;
}

.Header img {
  height: 45px;
  margin-top: 8px;
  border-radius: 5px;
  filter: brightness(0);
}

.Header .switch {
  margin-left: 12px;
}

.Header a.link {
  margin: 0 10px;
  color: var(--gray2);
  text-decoration: none;
}

.Header a:hover {
  color: var(--blue0);
}

.Header .dropdown {
  display: none;
  width: 32px;
  height: 32px;
}

.Header .dropbtn {
  font-size: 32px;
  outline: none;
  padding: 0;
  border-radius: 5px;
  height: 32px;
  width: 32px;
  border: 0;
  transition: 0.25s;
  overflow: hidden;
}

.Header .dropbtn.faceright {
  transform: rotate(-90deg);
  margin: 0;
}

.Header .dropbtn .fas {
  margin: 0;
  position: relative;
  bottom: 7px;
}

.Header .dropdown-content {
  background: #fff;
  position: absolute;
  right: 10px;
  padding: 10px;
  box-shadow: 0 0 3px var(--gray3);
  border-radius: 5px;
}

.Header .drop-link {
  display: block;
  color: var(--gray2);
  text-decoration: none;
}

@media (max-width: 575px) {
  .Header a.link {
    display: none;
  }
  .Header .dropdown {
    display: block;
  }
}
