.Skillset .sections {
  display: flex;
  margin: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.Skillset .section {
  text-align: center;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px var(--gray1);
  transition: 0.25s;
}

.Skillset .section:hover {
  transform: scale(1.02);
}

.Skillset .section h1 > i {
  font-size: 24px;
  margin: 0;
  margin-left: -2px;
}

.Skillset .section hr {
  width: 80%;
  margin-top: 5px;
  border-bottom: 0;
}

.Skillset .section .Icon {
  width: fit-content;
  margin: 0 auto;
}

.Skillset .section .Icon:hover {
  color: var(--blue1);
}
