.Action {
  text-align: center;
  background: #fff;
  width: fit-content;
  margin: 20px auto 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--gray1);
  transition: 0.25s;
}

.Action:hover {
  transform: scale(1.02);
}

.Action hr {
  border-bottom: 0;
  width: 80%;
  margin: 2px auto;
}

.Action a {
  color: var(--blue0);
  text-decoration: none;
}

.Action a:hover {
  color: var(--blue2);
  text-decoration: underline;
}
